{% extends "navbar.html" %} {% block content %}
<h1>Haps haps kom og få en kababs</h1>

<div class="cards">
  {%for i in range(0,length)%}
  <a href="/{{content[i][0]}}">
    <div class="card">
      <img
        src="..\static\images\{{content[i][0]}}.png"
        alt="Avatar"
        class="image"
      />
      <div class="container">
        <h4><b>{{content[i][1]}}</b></h4>
        <p class="card-text">Adresse: {{content[i][2]}}</p>
        <p class="card-text">Tlf Nr.: {{content[i][4]}}</p>
        <p class="card-text">Rating: {{content[i][3]}}</p>
      </div>
    </div>
  </a>
  {%endfor%}
</div>

{% endblock content %}
