{% extends "navbar.html" %}
{% block content %}
<script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
<table class="sortable">
    <thead>
      <tr>
        <th>id</th>
        <th>Navn</th>
        <th>Adresse</th>
        <th>Rating</th>
     </tr>
    </thead>
     <tbody>
    {% for n in content %}
    <tr>
    <td scope="row">{{n[0]}}</td>
    <td><a href="/{{n[0]}}">{{n[1]}}</a></td>
    <td>{{n[2]}}</td>
    <td>{{n[3]}}</td>
    </tr>
    {% endfor %}
     </tbody>
   </table>


   
{% endblock content %}
